# USE CASE DATASET IMDB
Data Source : IMDB data (Online database of information related to movies)
<br> Source data : [Github](https://github.com/scalabretta/GroupProject--IMDB/tree/master/Dataset)
<br> Author : Shelby
<br> File Name : IMDB-database-update.csv

In [2]:
import pandas as pd
import numpy as np
imdb = pd.read_csv('https://raw.githubusercontent.com/scalabretta/GroupProject--IMDB/master/Dataset/IMDB-database-update.csv', encoding='latin1')

In [6]:
imdb.head()

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0
1,2,Pirates of the Caribbean: At World's End,169,1,2007,USA,English,PG-13,300000000,309404152,...,1,1000,48350,0,0,0,471220,1238,7.1,0
2,3,The Dark Knight Rises,164,1,2012,USA,English,PG-13,250000000,448130642,...,1,23000,106759,1,164000,0,1144337,2701,8.5,1
3,4,Spider-Man 3,156,1,2007,USA,English,PG-13,258000000,336530303,...,1,4000,46055,0,0,0,383056,1902,6.2,0
4,5,Batman v Superman: Dawn of Justice,183,1,2016,USA,English,PG-13,250000000,330249062,...,1,2000,24450,1,197000,0,371639,3018,6.9,0

In [7]:
imdb.shape

(3781, 36)

In [8]:
imdb.dtypes

movie_ID                       int64
movie_title                   object
duration                       int64
color                          int64
title_year                     int64
country                       object
language                      object
content_rating                object
budget_USD                     int64
gross_USD                      int64
net_USD                        int64
profitable                     int64
director_name                 object
director_top20?               object
director_facebook?             int64
director_facebook_likes        int64
actor_1_name                  object
actor_top20?                   int64
actor_1_facebook?              int64
actor_1_facebook_likes         int64
actor_2_name                  object
actor_top20?.1                 int64
actor_2_facebook?              int64
actor_2_facebook_likes         int64
actor_3_name                  object
actor_top20?.2                 int64
actor_3_facebook?              int64
actor_3_facebook_likes         int64
cast_total_facebook_likes      int64
movie_facebook?                int64
movie_facebook_likes;          int64
facenumber_in_poster           int64
num_voted_users                int64
num_user_for_reviews           int64
imdb_score                   float64
imdb_top_250                   int64
dtype: object

In [9]:
imdb.isnull().sum()

movie_ID                     0
movie_title                  0
duration                     0
color                        0
title_year                   0
country                      0
language                     0
content_rating               0
budget_USD                   0
gross_USD                    0
net_USD                      0
profitable                   0
director_name                0
director_top20?              0
director_facebook?           0
director_facebook_likes      0
actor_1_name                 0
actor_top20?                 0
actor_1_facebook?            0
actor_1_facebook_likes       0
actor_2_name                 0
actor_top20?.1               0
actor_2_facebook?            0
actor_2_facebook_likes       0
actor_3_name                 0
actor_top20?.2               0
actor_3_facebook?            0
actor_3_facebook_likes       0
cast_total_facebook_likes    0
movie_facebook?              0
movie_facebook_likes;        0
facenumber_in_poster         0
num_voted_users              0
num_user_for_reviews         0
imdb_score                   0
imdb_top_250                 0
dtype: int64

In [11]:
imdb[["movie_ID"]] = imdb[["movie_ID"]].astype('str')
imdb[["movie_facebook?"]] = imdb[["movie_facebook?"]].astype('str')

In [12]:
imdb = imdb.drop_duplicates()

In [13]:
imdb[["duration", "gross_USD"]].describe()

          duration     gross_USD
count  3781.000000  3.781000e+03
mean    109.950278  5.182002e+07
std      22.299267  7.003776e+07
min      37.000000  1.620000e+02
25%      95.000000  7.605668e+06
50%     106.000000  2.896520e+07
75%     120.000000  6.600997e+07
max     325.000000  7.605058e+08

In [14]:
imdb["language"].value_counts()

English       3628
French          33
Spanish         23
Mandarin        14
Japanese        10
German          10
Cantonese        7
Portuguese       5
Italian          5
Hindi            5
Korean           4
Norwegian        4
Danish           3
Dutch            3
Persian          3
Thai             3
Aboriginal       2
Dari             2
Indonesian       2
Hebrew           2
Vietnamese       1
Filipino         1
Czech            1
Bosnian          1
Maya             1
Kazakh           1
Russian          1
Arabic           1
None             1
Aramaic          1
Hungarian        1
Zulu             1
Mongolian        1
Name: language, dtype: int64

In [17]:
imdb["country"].value_counts().head(10)

USA          3009
UK            318
France        101
Germany        80
Canada         60
Australia      39
Spain          22
Japan          15
China          14
Hong Kong      13
Name: country, dtype: int64

In [21]:
imdb['score_group'] = np.where(imdb['imdb_score']>7.5, 'High', 'Low')

In [23]:
imdb.head()

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250,score_group
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,855,4834,1,33000,0,886204,3054,7.9,0,High
1,2,Pirates of the Caribbean: At World's End,169,1,2007,USA,English,PG-13,300000000,309404152,...,1000,48350,0,0,0,471220,1238,7.1,0,Low
2,3,The Dark Knight Rises,164,1,2012,USA,English,PG-13,250000000,448130642,...,23000,106759,1,164000,0,1144337,2701,8.5,1,High
3,4,Spider-Man 3,156,1,2007,USA,English,PG-13,258000000,336530303,...,4000,46055,0,0,0,383056,1902,6.2,0,Low
4,5,Batman v Superman: Dawn of Justice,183,1,2016,USA,English,PG-13,250000000,330249062,...,2000,24450,1,197000,0,371639,3018,6.9,0,Low

In [25]:
imdb['score_group'].value_counts()

Low     3247
High     534
Name: score_group, dtype: int64

In [26]:
imdb.shape

(3781, 37)

In [29]:
imdb_2016=imdb[imdb.title_year==2015]
year_2016=imdb_2016.sort_values('gross_USD', ascending=False)